<nz-card>
  <app-grid-list [option]="option" [columns]="columns" [(reload)]="reload">
    <ng-template #prefixArea>
      <button nz-button nzType="primary" (click)="edit()">
        <i class="fa fa-plus mr-ms"></i>
        添加
      </button>
    </ng-template>

    <ng-template gridColumnTemplate name="Operate" let-entity="entity">
      <a (click)="edit(entity)" class="btn">
        <i class="fa fa-edit"></i>
        <!-- <span class="ml-sm">编辑</span> -->
      </a>
      <a nz-popconfirm nzPopconfirmTitle="此操作不可恢复，你确定要删除吗？" (nzOnConfirm)="delete(entity.Id)"
        nzPopconfirmPlacement="top" class="ml-ms btn" style="color:red">
        <i class="fa fa-trash-o"></i>
        <!-- <span class="ml-sm">删除</span> -->
      </a>
    </ng-template>
  </app-grid-list>
</nz-card>



<nz-drawer *ngIf="isVisible" [(nzVisible)]="isVisible" [nzWidth]="750" nzPlacement="right" [nzTitle]="title"
  [nzFooter]="footerTpl" (nzOnClose)="isVisible=false">
  <ng-container *nzDrawerContent>
    <app-material-edit [(materialId)]="materialId"></app-material-edit>
  </ng-container>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="isVisible=false">关闭</button>
      <button nz-button nzType="primary" (click)="save()">保存</button>
    </div>
  </ng-template>
</nz-drawer>