<div nz-row [nzGutter]="16" class="mb-xs">
  <div nz-col [nzSpan]="24">
    <nz-card [nzTitle]="'医院廉洁竞品年度统计'" [nzExtra]="extraTemplate" style="width:100%;">
      <ng-template #extraTemplate>
        <nz-radio-group [(ngModel)]="dateType" nzButtonStyle="solid" class="mr-ms"
          (ngModelChange)="changeDateType($event)">
          <label nz-radio-button [nzValue]="'month'">本月度</label>
          <label nz-radio-button [nzValue]="'quarter'">本季度</label>
          <label nz-radio-button [nzValue]="'year'">本年度</label>
          <label nz-radio-button [nzValue]="'custom'">自定义</label>
        </nz-radio-group>
        <nz-date-picker *ngIf="dateType==='custom'" [(ngModel)]="yearRange" nzMode="year"
          [nzDisabledDate]="disabledDate" (nzOnOpenChange)="changeYearType($event)"></nz-date-picker>
      </ng-template>
      <div #cylinder style="width: 100%; height: 300px;"></div>
    </nz-card>

  </div>
  <!-- <div nz-col [nzSpan]="12">
    <nz-card>
      <div #pie style="width: 100%; height: 300px;"></div>
    </nz-card>
  </div> -->
</div>
<app-index-navs></app-index-navs>
<div nz-row [nzGutter]="16" class="mt-xs">
  <div nz-col [nzSpan]="12">
    <app-index-card [title]="'所有竞拍情况统计'" tagTpl="拍品提示" [statusList]="auctionList"></app-index-card>
  </div>
  <div nz-col [nzSpan]="12">
    <app-index-card [title]="'所有交易情况统计'" tagTpl="要立即处理的拍品" [statusList]="exchangeList"></app-index-card>
  </div>
</div>
