<app-grid-list [option]="option" [columns]="columns" [(reload)]="reload" [beforeRequest]="beforeRequest">
  <ng-template #prefixArea>
    <button nz-button nzType="primary" (click)="edit()">
      <i class="fa fa-plus mr-ms"></i>
      添加
    </button>
  </ng-template>

  <ng-template #suffixArea>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" class="mr-ms" style="width: 100px;"
      [(ngModel)]="selectedStatus" (ngModelChange)="selectedChange($event)">
      <nz-option [nzLabel]="item.text" [nzValue]="item.value" *ngFor="let item of publishStatusList"></nz-option>
    </nz-select>
  </ng-template>

  <ng-template gridColumnTemplate name="Operate" let-entity="entity">
    <a (click)="edit(entity)" class="btn">
      <i class="fa fa-edit"></i>
      <!-- <span class="ml-sm">编辑</span> -->
    </a>
    <a nz-popconfirm nzPopconfirmTitle="此操作不可恢复，你确定要删除吗？" (nzOnConfirm)="deleteUser(entity.Id)"
      nzPopconfirmPlacement="top" class="ml-ms btn" style="color:red">
      <i class="fa fa-trash-o"></i>
      <!-- <span class="ml-sm">删除</span> -->
    </a>
  </ng-template>
</app-grid-list>
