<nz-card [nzTitle]="title" [nzExtra]="extraTemplate">
  <ng-template #extraTemplate>
    <nz-tag [nzColor]="'red'">{{tagTpl}}</nz-tag>
  </ng-template>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="6" *ngFor="let item of statusList;let i=index" class="outer-card">
      <nz-card nzHoverable>
        <div class="inner-card">
          <span>{{ item.value }}</span>
          <span style="color:rgba(107, 114, 128,1)">{{ item.label }}</span>
        </div>
      </nz-card>
    </div>
  </div>
</nz-card>